.comment-section {
  border: 1px solid #2E91D0;
  border-radius: 16px;
  padding: 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section-title {
  font-size: 18px;
  font-weight: 600;
}

.status-buttons {
  display: flex;
  gap: 12px;
}

.status-button {
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  transition: 0.2s ease;
}

.status-button:hover {
  background-color: #f0f0f0;
}

.status-button.approved {
  background-color: #d1fae5;
  border-color: #10b981;
}

.status-button.rejected {
  background-color: #fecaca;
  border-color: #ef4444;
}

.comment-box textarea {
  width: 98%;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  resize: vertical;
  font-family: inherit;
  font-size: 14px;
}

.comment-button-submit{
  display: flex;
  align-items: center;
  gap: 15px;

  .submit-button {
    padding: 10px 20px;
    border: 2px solid #2E91D0;
    background-color: white;
    color: #2E91D0;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.2s ease;
  }
  
  .submit-button:hover {
    outline: none;
    background-color: #2E91D0;
    color: white;
  }
  
  .submit-button:disabled {
    background-color: #ffffff83;
    cursor: not-allowed;
  }
  
  .feedback-message {
    font-size: 14px;
    color: #374151;
  }
}

