.technicalsecretary-form{
        display: flex;
        flex-direction: column;
        gap: 12px;
        font-size: 18px;
        
        input{
            padding: 5px 15px;
            font-size: 18px;
            border: 1px solid rgb(168, 168, 168);
            border-radius: 10px;
        }

        .form-buttons{
            display: flex;
            justify-content: space-between;

            button{
                font-size: 18px;
                padding: 5px 15px;
                border-radius: 10px;
                border: 1px solid rgb(168, 168, 168);
                cursor: pointer;
            }

            .form-button-scan{
                display: flex;
                align-items: center;
                gap: 10px;

                span{
                    color: green;
                }
            }

            .form-buttons-edit{
                display: flex;
                gap: 10px;
            }
            
        }
}