.invoice-form {
  max-width: 1000px;
  margin: 2rem auto;
  padding: 1rem 2rem;
  font-family: 'Segoe UI', sans-serif;
  background: #f9f9f9;
  border: 1px solid #ddd;

  h1 {
    text-align: left;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }

  section {
    margin-bottom: 1rem;

        table, th, tr, td{
            border: 0.01rem solid black;
            border-collapse: collapse;

        }

      table {
      width: 100%;

      td {
        vertical-align: top;
        font-size: 15px;
        width: 50%;
        padding: 0.2rem;
    }
}

   img {
        width: 100%;
        max-width: 180px;
        height: auto;
          display: block;

    }


    h2 {
      font-size: 1rem;
      margin-bottom: 0.2rem;
      color: #333;
    }
  }
}
