.department {
  position: relative;
  top: 10vh;
  display: flex;
  flex-direction: column;

  .department-title {
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
    border-bottom: 1px solid rgb(168, 168, 168);
    font-size: 25px;

    button {
      background-color: #e45830;
      border: 2px solid #e45830;
      color: white;
      padding: 12px 28px;
      font-weight: 600;
      font-size: 16px;
      cursor: pointer;
      border-radius: 5px;
      transition: background-color 0.25s ease;

      &:hover {
        outline: none;
        background-color: white;
        color: #e45830;
      }
    }
  }

  .department-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px auto;
    gap: 20px;

    form {
      display: flex;
      flex-direction: column;
      gap: 33px;
      font-size: 18px;

      .form-item {
        display: flex;
        flex-direction: column;
        gap: 30px;

        label {
          margin-bottom: -5px;
          font-weight: 500;
          font-size: 20px;
        }

        input,
        select {
          padding: 5px 16px;
          margin-bottom: 15px;
          border-radius: 8px;
          border: 1px solid rgb(168, 168, 168);
          box-sizing: border-box;
          font-size: 18px;
          cursor: pointer;

          &:focus {
            outline: none;
            transition: 0.3s ease-in-out;
            border: 2px solid #e45830;
          }

          option {
            font-size: 15px;
            padding: 10px 3px;

            &:hover {
              background-color: rgb(199, 199, 199);
            }
          }
        }

        button {
          background-color: #e45830;
          border: 2px solid #e45830;
          color: white;
          padding: 10px;
          width: 20%;
          font-weight: 600;
          font-size: 16px;
          cursor: pointer;
          border-radius: 10px;
          transition: background-color 0.25s ease;

          &:hover {
            outline: none;
            background-color: white;
            color: #e45830;
          }
        }

        .form-item-select {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        .form-item-inputs {
          display: flex;
          flex-direction: column;
          gap: 10px;

          .upload-container {
            background-color: #e457303d;
            border: 3px dashed #ffffff;
            border-radius: 8px;
            padding: 20px;
            text-align: center;
            position: relative;
            width: 50%;
            height: 30vh;
            max-width: 400px;
            cursor: pointer;
            transition: 300ms;
          }

          .upload-content {
            position: relative;
            z-index: 10;
            display: flex;
            height: 100%;
            align-items: center;
            justify-content: center;
            flex-direction: column;
          }

          .upload-icon {
            margin-bottom: 10px;
            background-color: #f8f8f8af;
            width: 60px;
            height: 60px;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 300ms;
          }

          .upload-icon i {
            margin-top: 20px;
            width: 40px;
            height: 40px;
            color: #e45830;
          }

          .upload-choose {
            color: #e45830;
            cursor: pointer;
          }

          .upload-formats {
            color: #e45830;
            margin-top: 10px;
          }

          .upload-input {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
          }

          .upload-container:hover {
            border: 3px dashed #e4573077;
            background-color: white;
            transition: 300ms;

            .upload-icon {
              background-color: #e4573077;
              transition: 300ms;
            }
          }

          .izberi-izdavac {
            display: flex;
            flex-direction: column;
            gap: 8px;

            select {
              margin: 0px;
            }
          }

          .new-izdavac {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 4px;

            button {
              padding: 6px 20px;
              width: 125px;
              border-radius: 10px;
            }

            input {
              width: 85%;
              margin: 0px;
            }
          }
        }

        .form-item-radio {
          display: flex;
          justify-content: space-between;

          .form-radio {
            display: flex;
            gap: 20px;

            label {
              margin-left: 8px;
            }
          }
        }
      }

      .form-buttons {
        display: flex;
        justify-content: space-between;

        button {
          font-size: 18px;
          padding: 5px 15px;
          border-radius: 10px;
          border: 1px solid rgb(168, 168, 168);
          cursor: pointer;
        }

        .vidi-faktura{
          background-color: #e45830;
          border: 2px solid #e45830;
          color: white;
          padding: 10px;
          width: 20%;
          font-weight: 600;
          font-size: 16px;
          cursor: pointer;
          border-radius: 10px;
          transition: background-color 0.25s ease;

          &:hover {
            outline: none;
            background-color: white;
            color: #e45830;
          }
        }

        .form-button-scan {
          display: flex;
          align-items: center;
          gap: 10px;

          span {
            color: green;
          }
        }

        .form-buttons-edit {
          display: flex;
          gap: 10px;

          button {
            padding: 8px 20px;
            width: 100%;

            &:first-of-type {
              border: 2px solid #e45830;
              background-color: white;
              color: #e45830;

              &:hover {
                background-color: #e457302c;
                transition: 300ms;
              }
            }

            &:nth-of-type(2) {
              border: 2px solid #e45830;
              background-color: #e45830;
              color: white;

              &:hover {
                background-color: #af4325;
                transition: 300ms;
              }
            }
          }
        }
      }
    }
  }
}