.department {
    position: relative;
    top: 10vh;
    display: flex;
    flex-direction: column;

    .department-title {
        display: flex;
        justify-content: space-between;
        padding: 40px 100px;
        border-bottom: 1px solid rgb(168, 168, 168);
        font-size: 25px;

        button {
            background-color: #92CBCF;
            color: black;
            font-size: 18px;
            padding: 10px 18px;
            border: none;
            border-radius: 10px;
        }
    }

    .department-container {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 80px auto;
        gap: 20px;

        form {
            display: flex;
            flex-direction: column;
            gap: 33px;
            font-size: 18px;

            .form-item {
                display: flex;
                flex-direction: column;
                gap: 30px;

                input,
                select {
                    padding: 5px 16px;
                    border-radius: 8px;
                    border: 1px solid rgb(168, 168, 168);
                    box-sizing: border-box;
                    font-size: 18px;
                    cursor: pointer;

                    option {
                        font-size: 15px;
                        padding: 10px 3px;

                        &:hover {
                            background-color: rgb(199, 199, 199);
                        }
                    }
                }

                .form-item-select {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                }

                .form-item-inputs {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                }

                .form-item-radio {
                    display: flex;
                    justify-content: space-between;

                    .form-radio {
                        display: flex;
                        gap: 20px;

                        label {
                            margin-left: 8px;
                        }
                    }
                }

            }

            .form-buttons {
                display: flex;
                justify-content: space-between;

                button {
                    font-size: 18px;
                    padding: 5px 15px;
                    border-radius: 10px;
                    border: 1px solid rgb(168, 168, 168);
                    cursor: pointer;
                }

                .form-button-scan {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    span {
                        color: green;
                    }
                }

                .form-buttons-edit {
                    display: flex;
                    gap: 10px;
                }
            }
        }
    }
}