//components
@use "../styles/components/header/header.scss";
@use "../styles/components/mainmenu/mainmenu-sidebar.scss";
@use "../styles/components/mainmenu/invoice-card.scss";
@use "../styles/components/import-file/import-file.scss";
@use "../styles/components/primary-button/primary-button.scss";

//pages
@use "../styles/pages/sign/sign.scss";
@use "../styles/pages/sign/forgotPassword.scss";
@use "../styles/pages/mainmenu/mainmenu.scss";
@use "../styles/pages/departments/department.scss";
@use "../styles/pages/departments/technical-secretary/technical-secretary.scss";
@use "../styles/pages/departments/public-procurement-department/public-procurement-department.scss";

//fonts
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

// Other defaults
html,
body,
div,
span,
h1,
h2,
h3,
p,
a,
small,
input {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button{
  cursor: pointer;
}

html {
  font-family: "Inter";
}

body {
  height: 100%;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

input,
textarea {
  &:focus {
    outline: none;
  }
}
