.procurement-department-form{
    display: flex;
    flex-direction: column;
    gap: 33px;
    font-size: 18px;

    .form-item{
        display: flex;
        flex-direction: column;
        gap: 30px;

        input, select{
            padding: 5px 16px;
            border-radius: 8px;
            border: 1px solid rgb(168, 168, 168);
            box-sizing: border-box;
            font-size: 18px;
            cursor: pointer;

            option{
                font-size: 15px;
                padding: 10px 3px;

                &:hover{
                    background-color: rgb(199, 199, 199);
                }
            }
        }

        .form-item-select{
            display: flex;
            align-items: center;
            justify-content: space-between;

        }

        .form-item-inputs{
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .form-item-radio{
            display: flex;
            justify-content: space-between;

            .form-radio{
                display: flex;
                gap: 20px;

                label{
                    margin-left: 8px;
                }
            }
        }

    }

    .form-buttons{
        display: flex;
        justify-content: right;
        gap: 10px;

        button{
            font-size: 18px;
            padding: 5px 15px;
            border-radius: 10px;
            border: 1px solid rgb(168, 168, 168);
            cursor: pointer;
        }
    }
}