.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.3s ease-in-out;

  .modal-content {
    background: white;
    border: 2px solid #e45830;
    padding: 60px 60px;
    border-radius: 15px;
    width: 40%;
    height: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    animation: slideUp 0.3s ease-in-out;

    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;
    }

    .label-input{
      display: flex;
      flex-direction: column;
      gap: 5px;
    }

    svg{
          color: black;
          width: 40px;
          height: 40px;
          transition: 300ms;
          cursor: pointer;

          &:hover{
            color: red;
          }
        }

    h2 {
      font-size: 30px;
      font-weight: bold;
    }

    input {
      padding: 5px 10px;
      border: none;
      border-bottom: 2px solid darkgray;
      font-size: 20px;
      transition: 0.3s ease-in-out;
      cursor: pointer;

      &:focus {
        outline: none;
        transition: 0.3s ease-in-out;
        border-bottom: 2px solid #e45830;
      }
    }

    label {
      font-size: 22px;
      font-weight: 500;
    }

    .update-button {
      display: flex;
      justify-content: end;
      gap: 15px;
      margin-top: 50px;

      button{
        background-color: #e45830;
        border: 2px solid #e45830;
        color: white;

        &:hover {
            outline: none;
            background-color: white;
            color: #e45830;
        }
      }
    }
  }
}
