.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  background-color: #d9d9d9;
  padding: 27px 50px;
  box-sizing: border-box;

  .header-info {
    display: flex;
    align-items: center;
    gap: 19px;

    img {
      width: 10%;
    }
  }

  .header-user {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;

    span {
      margin-right: 30px;
      border-bottom: 3px solid #e45830;
      font-size: 24px;
      font-weight: bold;
      color: rgb(85, 85, 82);
    }

    button {
      border: none;
      background: none;
      font-weight: bold;
      font-size: 20px;
      color: #e45830;
      border: 3px solid #e45830;
      border-radius: 10px;
      cursor: pointer;

      &:hover {
        outline: none;
        background-color: #e45830;
        color: white;
      }
    }
  }
}
