.header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    background-color: #D9D9D9;
    padding: 27px 50px;
    box-sizing: border-box;

    .header-info{
        display: flex;
        align-items: center;
        gap: 19px;

        img{
            width: 141px;
            height: 71px;
        }
    }

    .header-user{
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 20px;

        button{
            border: none;
            background: none;
            font-weight: bold;
            font-size: 20px;
            cursor: pointer;
        }
    }
}