.profile{
    display: flex;
    justify-content: center;
    position: relative;
    top: 10vh;
    height: 90vh;

    .profile-container{
        border: 1px solid red;
        display: flex;
        flex-direction: row-reverse;
        width: 70%;
        margin: 80px;
        position: relative;

        .profile-navigation{
            position: absolute;
            margin: 40px 60px;
            
            svg{
                width: 40px;
                height: 40px;
                cursor: pointer;

                &:hover{
                    color: red;
                }
            }
        }

        .profile-info{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 20px;
            justify-content: center;
            align-items: center;
    
            .profile-item{
                text-align: left;
            }
        }
    }

}