.sign{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 85px;
    padding-top: 8%;
    box-sizing: border-box;

    .app-name{
        font-size: 32px;
        font-weight: bold;
    }

    .sign-container{
        display: flex;
        flex-direction: column;
        gap: 24px;
        
        .sign-info{
            display: flex;
            flex-direction: column;
            gap: 4px;
            text-align: center;

            h2{
                font-size: 24px;
            }

            p{
                font-size: 16px;
            }
        }

        form{
            display: flex;
            flex-direction: column;
            gap: 16px;

            input, select{
                padding: 5px 16px;
                border-radius: 8px;
                box-sizing: border-box;
                font-size: 20px;
                cursor: pointer;

                option{
                    font-size: 15px;
                    padding: 10px 3px;

                    &:hover{
                        background-color: rgb(199, 199, 199);
                    }
                }

            }

            button{
                background-color: black;
                color: white;
                font-size: 16px;
                padding: 8px 171px;
                border-radius: 8px;
                border: none;
                cursor: pointer;
            }
        }
    }
}