.sign {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 85px;
  padding-top: 5%;
  box-sizing: border-box;

  .app-name {
    font-size: 64px;
    font-weight: bold;
  }

  .sign-container {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .password-input-wrapper {
      position: relative;

      svg {
        color: black;
      }

      input {
        width: 100%;
      }

      .toggle-password-btn {
        position: absolute;
        top: 50%;
        right: 16px;
        transform: translateY(-50%);
        background: none;
        border: none;
        font-size: 14px;
        color: #007bff;
        cursor: pointer;
        padding: 0;
      }
    }

    .sign-info {
      display: flex;
      flex-direction: column;
      gap: 4px;
      text-align: center;

      h2 {
        font-size: 38px;
        padding-bottom: 20px;
      }

      p {
        font-size: 16px;
      }
    }

    button {
      background-color: black;
      color: white;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 0.2px;
      padding: 8px 171px;
      border-radius: 8px;
      border: none;
      cursor: pointer;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 16px;

      input,
      select {
        padding: 8px 16px;
        border-radius: 8px;
        border-color: darkgray;
        font-size: 20px;
        transition: 0.3s ease-in-out;
        cursor: pointer;

        option {
          font-size: 15px;
          padding: 10px 3px;

          &:hover {
            background-color: rgb(199, 199, 199);
          }
        }
      }

      input:focus {
        outline: none;
        transition: 0.3s ease-in-out;
        border: 2px solid #e45830;
      }
    }
  }
}
