.import-file-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1002;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.616);
  animation: fadeIn 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;

  .import-file {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 50%;
    padding: 50px;
    box-sizing: border-box;
    border: 2px solid #e45830;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    animation: slideUp 0.3s ease-in-out;

    .import-file-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 10px;

      svg {
        color: black;
        width: 40px;
        height: 40px;
        transition: 300ms;
        cursor: pointer;

        &:hover {
          color: red;
        }
      }
    }

    .import-file-container {
      position: relative;
      z-index: 1003;
      display: flex;
      justify-content: space-evenly;
      gap: 40px;

      .import-file-inputs {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 20px;
        width: 50%;
        text-align: center;

        .inputs {
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 20px;
          width: 100%;

          .izberi-izdavac,
          .new-izdavac {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 8px;
            align-items: center;

            select {
              margin: 0px;
              width: 50%;
              font-size: 15px;
              color: #757575;
            }
          }

          input,
          select {
            text-align: left;
            font-size: 18px;
            padding: 5px 15px;
            border: none;
            border-bottom: 2px solid #bdbdbd;
            transition: 200ms;

            &:focus,
            &:hover {
              outline: none;
              border-bottom: 2px solid #e45830;
            }
          }
        }

        button {
          background-color: #e45830;
          border: 2px solid #e45830;
          border-radius: 10px;
          color: white;

          &:hover {
            outline: none;
            background-color: white;
            color: #e45830;
          }
        }
      }
    }

    .upload-container {
      background-color: #e457303d;
      border: 3px dashed #ffffff;
      border-radius: 8px;
      padding: 20px;
      text-align: center;
      position: relative;
      width: 50%;
      height: 35vh;
      max-width: 500px;
      cursor: pointer;
      transition: 300ms;
    }

    .upload-content {
      position: relative;
      z-index: 10;
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    .upload-icon {
      margin-bottom: 10px;
      background-color: #f8f8f8af;
      width: 60px;
      height: 60px;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 300ms;
    }

    .upload-icon i {
      margin-top: 20px;
      width: 40px;
      height: 40px;
      color: #e45830;
    }

    .upload-choose {
      color: #e45830;
      cursor: pointer;
    }

    .upload-formats {
      color: #e45830;
      margin-top: 10px;
    }

    .upload-input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;
    }

    .upload-container:hover {
      border: 3px dashed #e4573077;
      background-color: white;
      transition: 300ms;

      .upload-icon {
        background-color: #e4573077;
        transition: 300ms;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
