.mainmenu{
    display: flex;

    .mainmenu-content{
        position: relative;
        top: 10vh;
        left: 20%;
        display: flex;
        flex-direction: column;
        gap: 38px;
        width: 80%;
        margin-top: 50px;

        .mainmenu-search{
            display: flex;
            gap: 25px;
            justify-content: center;
            
            input{
                width: 50%;
                border: 7px solid #D9D9D9;
                border-radius: 10px;
                font-size: 16px;
                padding: 5px;
                text-align: center;
            }
        }

        .mainmenu-invoices{
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;
        }
    }
}