.invoice-component {
    display: flex;
    flex-direction: column;
    gap: 24px;
    text-align: center;

    .invoice-card {
        border: 2px solid #D9D9D9;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        height: 400px;
        width: 1000px;

        .invoice-card-items {
            overflow-y: auto;
    
            
            .invoice-card-item {
                display: flex;
                justify-content: space-between;
                box-sizing: border-box;
                padding: 9px 30px;
                cursor: pointer;
                
                p{
                    width: 33%;
                    text-align: left;
                }
                
                
                .invoice-flag {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    p{
                        border-radius: 10px;
                        margin: 5px 40px;
                        text-align: center;
                        background-color: #FF8989;

                    }
                }
                
                div{
                    width: 33%;
                }

                &:hover{
                    background-color: #D9D9D9;
                }
            }
        }
    }
}