.invoice-component {
    display: flex;
    flex-direction: column;
    gap: 24px;
    text-align: center;

    .invoice-card {
        border: 2px solid #D9D9D9;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        height: 400px;
        width: 1000px;

        .invoice-card-items {
            overflow-y: auto;
            
            .invoice-card-item {
                display: flex;
                justify-content: space-between;
                box-sizing: border-box;
                padding: 9px 30px;
                cursor: pointer;               
                color: black;
                
                .invoice-flag {
                    padding: 4px 8px;
                    border-radius: 5px;
                    font-weight: bold;
                    font-size: 16px;

                    &.read {
                        background-color: #d4edda;
                        color: #155724;
                    }

                    &.unread {
                        background-color: #f8d7da;
                        color: #721c24;
                    }

                    &.created {
                        background-color: #cce5ff;
                        color: #004085;
                    }
                }
                
                div{
                    width: 33%;
                }

                &:hover{
                    background-color: #D9D9D9;
                }
            }
        }
    }
}