.invoice-component {
    display: flex;
    flex-direction: column;
    gap: 24px;
    text-align: center;
    width: 90%;

    h1 {
        text-align: left;
    }

    .invoice-card {
        border: 2px solid #D9D9D9;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        max-height: 400px;
        width: 100%;

        .invoice-card-items {
            overflow-y: auto;
            
            .invoice-card-item {
                display: flex;
                justify-content: space-between;
                box-sizing: border-box;
                padding: 9px 30px;
                cursor: pointer;               
                color: black;

                &:first-child {
                    font-weight: bold;
                    font-size: 1.2rem;
                }
                
                &:not(:last-child) {
                    border-bottom: 1px solid #D9D9D9;
                }
                
                .sealed {
                    padding: 4px 8px;
                    border-radius: 5px;
                    margin: 0 15px;
                    font-weight: bold;
                    font-size: 16px;
                    background-color: #d4edda;
                    color: #155724;
                }
                
                
                .invoice-status-department-flag {
                    padding: 4px 8px;
                    margin: 0 15px;
                    border-radius: 5px;
                    font-weight: bold;
                    font-size: 16px;
                    
                    &.approved {
                        background-color: #d4edda;
                        color: #155724;
                    }
                    
                    &.rejected {
                        background-color: #f8d7da;
                        color: #721c24;
                    }
                    
                    &.pending {
                        background-color: #cce5ff;
                        color: #004085;
                    }
                }
                
                .invoice-status-faktura-flag {
                    padding: 4px 8px;
                    margin: 0 15px;
                    border-radius: 5px;
                    font-weight: bold;
                    font-size: 16px;
                    
                    &.approved {
                        background-color: #fafc85;
                        color: #4b4d00;
                    }

                    &.ready {
                        background-color: #f8d7da;
                        color: #721c24;
                    }

                    &.pending {
                        background-color: #cce5ff;
                        color: #004085;
                    }
                    
                }
                
                div{
                    width: 25%;
                }

                &:hover{
                    background-color: #D9D9D9;
                }
            }
        }
    }
}